@import '../Fonts.scss';
.about{
    display: flex;
    align-items: center;
    justify-content: center;
        &__wrapper{
            max-width: 1336px;
            height: calc(100vh - 150px);
            text-align: left;
            &-title{
                margin: 0;
                padding: 0;
                font-family: 'Rubik-Bold';
                font-weight: bold;
                letter-spacing: -0.68px;
                color: #3D3D3D;
                margin-bottom: 40px;
                margin-top: 100px;
            }
            &-text{
                margin: 0;
                padding: 0;
                font-family: 'Rubok-Light';
                letter-spacing: 0.4px;
                color: #3D3D3D;
                margin-top: 30px;
            }
        }
}
@media only screen and(max-width:1024px){
.about{
    padding: 0 50px; 
}
}