@font-face {
	font-family: 'Rubik-Medium';
	src:url('../Fonts/Rubik/Rubik-Medium.ttf');
}
@font-face {
	font-family: 'Rubik-Light';
	src:url('../Fonts/Rubik/Rubik-Light.ttf');
}
@font-face {
	font-family: 'Rubik-Regular';
	src:url('../Fonts/Rubik/Rubik-Regular.ttf');
}

@font-face {
	font-family: 'Rubik-Bold';
	src:url('../Fonts/Rubik/Rubik-Bold.ttf');
}
